body{
    background-color: cadetblue;
}

h1{
    text-align: center;
    background-color: darkgrey;
}

@media(max-width : 1000px){
    body{
        background-color: chocolate;
    }

    h1{
        text-align: center;
        background-color: darkgreen;
    }
}

@media(max-width : 700px){
    body{
        background-color:chartreuse;
    }

    h1{
        text-align: center;
        background-color:darkkhaki;
    }
}

@media(max-width : 400px){
    body{
        background-color:yellow;
    }

    h1{
        font-size: 30px;
        text-align: center;
        background-color:tomato;
        
    }
}

@media(max-width : 255px){
    body{
        background-color:crimson;
    }

    h1{
        font-size: 20px;
        text-align: center;
        background-color:aquamarine;
        
    }
}